* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f4f2f2;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 17);
  font-size: 1rem;
}

.App {
  display: grid;
  grid-template-rows: 1fr 6fr;
  height: 100vh;
}

header{
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #e1e1e1;
}

main{
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 3rem;
  row-gap: 2rem;
  justify-items: center;
  width: 100%;
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

label{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-weight: 600;
}

input{
  padding: 1rem;
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
}
input:focus{
  outline: none;
}

button {
  padding: .5rem;
  border-radius: 8px;
  border: none;
  background-color: rgb(115, 174, 252);
  font-weight: 600;
  font-size: 1rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main .weather-desc{
  width: 100%;
}
.weather-desc h2{
  font-size: 1rem;
}

