* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f2f2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 17);
  font-size: 1rem;
}

.App {
  display: grid;
  grid-template-rows: 1fr 6fr;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  text-align: left;
  border-bottom: 2px solid #e1e1e1;
}
h1 {
  font-size: 1.5rem;
}
li{
  list-style: none;
}

main {
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 3rem;
  row-gap: 2rem;
  justify-items: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-weight: 600;
}

input {
  padding: 1rem;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  margin-top: 1rem;
}
input:focus {
  outline: none;
}

button {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  background-color: rgb(115, 174, 252);
  font-weight: 600;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
button:hover {
  background-color: rgba(115, 174, 252, 0.829);
  /* color: #fff; */
}

main .weather-desc {
  width: 100%;
}
.weather-desc h2 {
  font-size: 1rem;
}

.error{
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

/* only very small screens */
@media (max-width: 374px) {
  main {
    padding: 3rem 1rem;
  }
  header {
    padding: 1rem;
  }
}

/* tablet and larger screens */
@media (min-width: 768px) {
  main {
    max-width: 40rem;
    justify-self: center;
  }

  form {
    /* width: 50%; */
    justify-content: center;
  }

  label {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  input,
  button {
    width: 70%;
  }

  button {
    align-self: flex-end;
  }
}

/* desktop and larger screens */
@media (min-width: 1024px) {
  main {
    grid-template-rows: 1fr 1fr;
  }
}
